@keyframes flipCard1 {
    0% {
        background-color: #2c3e50;
        color: #ecf0f1; 
        transform: 0;
    }
    
    50% {
        background-color: #2c3e50;
        color: #ecf0f1; 
        transform: rotate3d(0,1,0,90deg);
    }
    
    51% {
        background-color: #ecf0f1;
        color: #2c3e50;
    }
    
    100% {
        background-color: #ecf0f1;
        color: #2c3e50;
        transform: rotate3d(0,1,0,0deg);
    }
}

.flip-card-1 {
    animation-name: flipCard1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes flipCard2 {
    0% {
        background-color: #ecf0f1; 
        color: #2c3e50;
        transform: 0;
    }
    
    50% {
        background-color: #ecf0f1; 
        color: #2c3e50;
        transform: rotate3d(0,1,0,90deg);
    }
    
    51% {
        background-color: #2c3e50;
        color: #ecf0f1; 
    }
    
    100% {
        background-color: #2c3e50;
        color: #ecf0f1; 
        transform: rotate3d(0,1,0,0deg);
    }
}

.flip-card-2 {
    animation-name: flipCard2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#flashcard {
    margin: auto;
    margin-top: 100px;
    
    width: 200px;
    height: 200px;
    
    background-color: #2c3e50;
    color: #ecf0f1;
    
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    user-select: none;
    cursor: pointer;
}

#question {
    font-size: 30px;
}

#answer {
    font-size: 20px;
}

h2 {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

body {
    font-family: Verdana;
}